.hover-info h5,
p {
  padding: 0;
  margin: 0;
}

.hover-info h5 {
  text-transform: uppercase;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
}

.hover-info p {
  font-size: 12px;
  padding-top: 0.2em;
}
